p.serif {
  font-family: "Times New Roman", Times;
}

p.sansserif {
  font-family: Arial, Helvetica, sans-serif;
}
p.monaco {
  font-family: Monaco, monospace;
}
p.copperplate{
  font-family: Copperplate, fantasy;
}
p.lucida-handwriting{
  font-family: "Lucida Handwriting", cursive;
}
p.papyrus{
  font-family: Papyrus, fantasy;
}
p.lucida-console{
  font-family: "Lucida Console", Monaco, monospace;
}
p.brush-script{
  font-family: "Brush Script MT", cursive;
}
p.akronim{
  font-family: Akronim, cursive;
}
p.kraken{
  font-family: Kraken, fantasy;
}
p.sofia{
  font-family: 'Sofia', cursive;
  font-size: 22px;
}
p.acme{
  font-family: 'Acme', sans-serif;
}



p.arial{
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  font-weight: 900;
}
p.verdana{
  font-family: Verdana,sans-serif;
  font-size: 20px;
}

p.tahoma{
  font-family: Tahoma, sans-serif;
  font-size: 60%;
}

p.georgia{
  font-family: Georgia, serif;
}
p.garamond{
  font-family: garamond, serif;
}
